@font-face {
    font-family: 'Sailors Grave';
    src: url('SailorsGrave-Regular.woff') format('woff'),
        url('SailorsGrave-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
     
        font-family: 'Sailors Grave';
        color  : rgb(245, 245, 245);
        -webkit-text-stroke-width: 0.25px;
        -webkit-text-stroke-color: black;
}

 #error1{ font-size: 32px; margin-bottom: 10px; text-align: center;}
 #error2{ font-size: 32px; margin-top: 10px; text-align: center;}

.box{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
align-content: center;
z-index: -2;
background-image: url('bg.png');
background-blend-mode:soft-light;
background-repeat: no-repeat;
background-size: cover;
height: 100vh + 200px;
min-height: 100vh;
  
}

img{
    width: auto;
    height: 25vh;
}

.box *{
    margin: 2vh;

}
i{ font-size: 64px; width: 150px; height: 150px; animation: glowing; animation-duration: 0.8s;animation-direction: alternate;  animation-iteration-count:infinite; }
.box div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: green;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-top: 2px;
    margin-bottom: 200px;
    z-index: 1;
    min-height: 50vh;
    background: #50514f8c;
    border-radius: 10%;
}

@keyframes glowing {
    0%    {   -webkit-text-fill-color: rgb(245, 245, 245); }
    15% { -webkit-text-fill-color: rgb(235, 235, 235);}
    25%   {   -webkit-text-fill-color: rgb(225, 225, 225); } 
    35%   {   -webkit-text-fill-color: rgb(215, 215, 215); } 
    50%   {   -webkit-text-fill-color: rgb(205, 205, 205); } 
    75%   {   -webkit-text-fill-color: rgb(195, 195, 195); } 
    85%  {   -webkit-text-fill-color: rgb(185, 185, 185); }
    95% { -webkit-text-fill-color: rgb(175, 175, 175);}
    100%  {   -webkit-text-fill-color: rgb(165, 165, 165); }
}
 
button{
height: 125px;
width: 300px;
background: transparent;
border-style: none;
}

i:hover {
     animation-direction: forwards;
     animation: expand ;
     animation-duration: 0.25s;
     font-size: 72px;
}

@keyframes expand {
from {font-size: 64px;}
to {font-size: 72px;}
}



input{
    height: 60px;
width: 600px;
font-size: 32px;
-webkit-text-fill-color: black;
background-color:rgb(245, 245, 245) ;
}

h1{font-size: 64px; font-weight: normal; -webkit-text-stroke-width: 0.5px;}

.green{
    -webkit-text-fill-color:  rgb(0, 255, 0); }

    .red{
    
        -webkit-text-fill-color:  red;
    }


    @media screen and (max-width: 768px) and (orientation: portrait) {
    #error1, #error2 {
        font-size: 24px;
       line-height: 2.5;
        line-height: normal;
    }

    .box div {
       
        height: auto;
        min-height: unset;
        width: 90%;
        padding: 20px;
        border-radius: 5%;
    }
    i:hover {
      animation:none;
   }
    input {
      
        width: 90%;
        font-size: 24px;
        height: auto;
        line-height: 2.5;
        padding: 16px;
        box-sizing: border-box;
        line-height: normal;
        white-space: nowrap;
        overflow:visible;
        text-overflow:ellipsis;
         
    }

    button {
        width: 90%;
        height: 80px;
    }

   p{ overflow:visible; font-size: 24px; padding-top: 16px ; }

    h1 {
        font-size: 48px;
        overflow:visible; 
        text-align: center;
        height: 48px ;
        width: 100%;
    }
   
 
}